<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>店铺列表</title>
</head>
<body>
    <div>
        <table border="2">
            <tr>
                <th>高德地图id</th>
                <th>省份</th>
                <th>城市</th>
                <th>县级市</th>
                <th>具体位置</th>
                <th>店铺名字</th>
                <th>店铺电话</th>
                <th>店铺类型</th>
                <th>经度</th>
                <th>纬度</th>
            </tr>
            <tr th:each="shop:${shopList}">
                <td th:text="${shop.id}"></td>
                <td th:text="${shop.pname}"></td>
                <td th:text="${shop.cityname}"></td>
                <td th:text="${shop.adname}"></td>
                <td th:text="${shop.specificAddress}"></td>
                <td th:text="${shop.shopName}"></td>
                <td th:text="${shop.telePhone}"></td>
                <td th:text="${shop.shopType}"></td>
                <td th:text="${shop.longitude}"></td>
                <td th:text="${shop.latitude}"></td>
            </tr>
        </table>
    </div>
</body>
</html>